<mat-card (click)="navigateToDetail()">
  <div class="task-content">

    <div class="task-details">
      <p class="task-name">{{ task.name }}</p>

      <div class="task-meta">
        @if (task.repetition !== 'Nenhuma') {
          <span class="meta-item">
            <mat-icon>sync</mat-icon>
            <span>{{ task.repetition }}</span>
          </span>
        }

        @if (task.endDate) {
          <span class="meta-item">
            <mat-icon>schedule</mat-icon>
            <span>{{ task.endDate | relativeDate }}</span> <!--Exibe a data formatada pelo pipe 'relativeDate'-->
          </span>
        }

      </div> <!-- fim task-meta -->
    </div> <!-- fim task-details -->

    <mat-checkbox
      [checked]="task.status === 'Completa'"
      (change)="onStatusChange($event)"
      (click)="$event.stopPropagation()"
      aria-label="Marcar tarefa como concluída">
    </mat-checkbox>

  </div> <!-- fim task-content -->

</mat-card>
